html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    min-height: 100vh;
}

/* Contenedor general de la app */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main crece para llenar el espacio restante */
.main-container {
    flex: 1;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Secciones dentro del main */
.documents-section, .info-section {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
}


.documents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.document-card {
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.document-card h3 {
    margin: 0;
    color: #12448C;
}

.status {
    font-weight: bold;
    color: rgb(40, 172, 0);
}

.status.pending {
    color: #FFA500;
}

.status.unavailable {
    color: #888;
}

.btn-download {
    margin: 1rem auto 0 auto;  /* top auto bottom auto -> centra horizontalmente */
    background-color: #ccc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
    display: block; 
    float: left;
    margin-left: 44%;
}




.downloadBtn {
    cursor: pointer;
    background-color: #D6B179ff;
}

.downloadBtn:hover {
    background-color: #8C7A64ff;
}


/* Responsivo */
@media (max-width: 768px) {
    .main-container {
        padding: 1rem;
    }

    nav {
        flex-direction: column;
    }

    .documents {
        grid-template-columns: 1fr;
    }
}

#avisoImportante  {
    color: #333;
}
#estatus{
    color: black;
}