*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}



#recuperar-container, #nueva-container {
  width: 100%;
  max-width: 40rem;
  margin: 10vh auto 0 auto; 
  justify-content: center;
  align-items: center;
  min-height: 60vh; 
}

#recuperar-form, #nueva-form {
  width: 100%;
  background-color: #d9d9d9;
  padding: 2rem;
  border-radius: 1.25rem;
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.3);
}

#recuperar-title, #nueva-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #000000;
}

#recuperar-description, #nueva-description {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #2f3131;
}

.password-group {
  position: relative;
  margin-bottom: 20px;
}

.password-group input {
  width: 100%;
  padding: 12px;
  padding-right: 45px;
  border: none;
  border-radius: 10px;
  background-color: #f1faee;
  color: #1d3557;
  font-size: 1rem;
  outline: none;
  transition: box-shadow 0.3s ease;
}



.password-group input:focus {
  box-shadow: 0 0 0 3px #a8dadc;
}


#recuperar-button, #nueva-button {
  width: 100%;
  padding: 12px;
  background-color: #e63946;
  color: #f1faee;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto;
}

#recuperar-button:hover, #nueva-button:hover {
  background-color: #d62828;
}

.toggle-icon {
  cursor: pointer;
  font-size: 1.3rem;
  margin-left: -30px;
  transition: transform 0.3s ease;
}

.toggle-icon:hover {
  transform: scale(1.2);
}
