body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #242424;
    line-height: 1.6;
}


/* Login styles */
#loginForm {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 32%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.253);
    display: flex;
  flex-direction: column;
}

#loginForm h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #12448C;
    font-size: 24px;
}

#loginForm .form-group {
    margin-bottom: 25px;
}

#loginForm .form-group label {
    display: block;
    margin-bottom: 9px;
    font-weight: bold;
}

#loginForm .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

#loginForm .form-actions {
    text-align: center;
}

#loginForm .form-actions input {
    background-color: #12448C;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 200px;
}

#loginForm .form-actions input:hover {
    background-color: #0d356e;
}

#loginForm p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

#loginForm p a {
    color: #12448C;
    text-decoration: none;
}

#loginForm p a:hover {
    text-decoration: underline;
}



/* Media Queries para Responsive */
@media (max-width: 768px) {
    
    #loginForm {
        margin: 30px auto;
        padding: 15px;
    }
    
    #loginForm h1 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    #loginForm {
        width: 95%;
        margin: 20px auto;
    }
    
    #loginForm .form-actions input {
        padding: 8px 15px;
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    
    #loginForm h1 {
        font-size: 18px;
    }
    
    #loginForm .form-group input {
        padding: 8px;
    }
}

.mensaje {
    color: rgb(59, 6, 6);
    font-weight: 700;
}

#boton-inicio {
    margin-left: 27%;}

#recuperar{
    text-align: center;
}