/* Estilos Generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(249, 249, 249);
}

.registro-alumno-container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
}

/* Formulario */
.formulario-container {
    width: 90%;
    margin: 0.1rem auto;
    padding: 2rem 0;
    text-align: center;

    flex-grow: 1; /* permite que este contenedor crezca para ocupar el espacio restante */
}

.titulo-seccion h1 {
    color: #103E7E;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

.formulario-registro {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1050px;
}

.grupo-campos {
    border: 2px solid #B12028ff;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: left;
}

.grupo-campos legend {
    color: #000;
    font-weight: bold;
    padding: 0 10px;
    font-size: 1.1rem;
}

.campo-formulario {
    margin-bottom: 1rem;
}

.campo-formulario input,
.campo-formulario select{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin: 5px 0;
}

.campo-formulario input[type="text"],
.campo-formulario input[type="email"],
.campo-formulario input[type="number"],
.campo-formulario input[type="password"] {
    width: 100%
}

.campo-formulario select {
    width: 100%;
    background-color: white;
}

.grupo-seleccionables {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.seleccion-corta {
    flex: 1;
    min-width: 150px;
}

.mensaje-error {
    color: #d32f2f;
    font-size: 0.8rem;
    display: block;
    margin-top: 0.2rem;
}

.campo-formulario .error {
    border-color: #d32f2f;
    background-color: #ffebee;
}

.boton-enviar {
    background-color: #D6B179ff;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s;
    width: 15%;
    margin: 0 auto;
}

.boton-enviar:hover {
    background-color: #8C7A64ff;
}

/* Responsive */
@media (max-width: 768px) {
    .grupo-seleccionables {
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .seleccion-corta {
        width: 100%;
    }
    
    .formulario-container {
        width: 95%;
        padding: 1rem 0;
    }
    
    .formulario-registro {
        padding: 1rem;
    }
}